/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

img {
	width: 300px;
}

/* Layout for Style Tile*/

h1 {
	font-family: 'Alegreya Sans SC', sans-serif;

}

h2 {
	font-family: 'Josefin Slab', serif;
	color: #60676B;
	font-size: 30px;
	letter-spacing: 3px;
}
h3 {
	font-family: 'Abel', sans-serif;
	letter-spacing: -2px;
	font-size: 25px;
}

p {
	font-family: 'Abel', sans-serif;
}

section {
	margin: 20px 0;
}


.color-1 {
	background: #6CE4C4
}

.color-2 {
	background: #60676B
}

.color-3 {
	background: #FC8935
}

.pattern-1 {
	background: url("../img/graffiti5.jpg") no-repeat;
}
.pattern-2 {
	background: url("../img/brokenwindow.jpg");
}
.pattern-3 {
	background-image: url("../img/gum.jpeg");
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}